.charts {
  display: flex;
  gap: 10px;
}
.cards {
  border-radius: 10px !important;
  background: #fff;
  width: 100%;
  box-shadow: 0px 0px 10px 5px #0000000f;
}

.mt-6 {
  margin-top: 100px;
}

.card-number {
  background: linear-gradient(to left, rgb(255, 27, 0), #ff597f, rgb(255, 27, 0)) !important;
  color: #fff;
}
.card-number-2 {
  background: linear-gradient(to left, #1e1d1e, #464646, #1e1d1e) !important;
  color: #fff;
}
.fs-35 {
  font-size: 3rem!important;
}
.fs-p {
  font-size: 14px;
}