<div class="container">
  <div class="row mt-6 mx-1 justify-content-center">
    <div class="col-xxl-8 row">
      <div class="col-xxl-4 col-md-6 mb-4">
        <div class="cards py-3 px-5 card-number d-flex justify-content-center">
          <i class="bi bi-globe-americas fs-35"></i>
          <div class="text-center px-1">
            <span class="d-flex">
              <h2>+</h2>
              <app-counterup [valorInicial]="130" />
            </span>
            <p class="m-0 fs-p">Paises</p>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-md-6 mb-4">
        <div class="cards py-3 px-5 card-number-2 d-flex justify-content-center">
          <i class="bi bi-cash-coin fs-35"></i>
          <div class="text-center px-1">
            <span class="d-flex">
              <app-counterup [valorInicial]="65" />
              <h2>%</h2>
            </span>
            <p class="m-0 fs-p">Lucro ao mês</p>
          </div>
        </div>
      </div>

      <div class="col-xxl-4 col-12 mb-4">
        <div class="cards py-3 px-5 card-number d-flex justify-content-center">
          <i class="bi bi-buildings-fill fs-35"></i>
          <div class="text-center px-1">
            <span class="d-flex">
              <h2>+</h2>
              <app-counterup [valorInicial]="100" />
              <h2>Mil</h2>
            </span>
            <p class="m-0 fs-p">Revendedores</p>
          </div>
        </div>
      </div>

      <div class="col-xl-12 mb-4">
        <div style="height: 330px;" class="cards" [chart]="lineChart"></div>
      </div>
      <div class="col-xl-6 mb-4">
        <div style="height: 300px;" class="cards" [chart]="pieChart"></div>
      </div>
      <div class="col-xl-6 mb-4">
        <div style="height: 300px;" class="cards" [chart]="areaChart"></div>
      </div>
    </div>
  
    <div class="col-xxl-4 row">
      <div class="mb-4">
        <div style="height: 328px;" class="cards" [chart]="barChart"></div>
      </div>
        <div class="mb-4">
          <div style="height: 430px;" class="cards" [chart]="columnChart"></div>
        </div>
    </div>
  </div>
</div>