.mt-6 {
  margin-top: 100px;
}
body {
  overflow: hidden;
}
.select {
  padding: 6px 30px;
  border: 1px solid #d2d2d2;
  border-radius: 6px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
  color: #1e1e1e;
}
.labels {
  background: #fff;
  padding: 6px 20px;
  border-radius: 6px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
}

.labels label {
  cursor: pointer;
}
.active {
  background: #ff1b00 !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.mr-0 {
margin-right: 0 !important;
}