<header class="bg-white px-5 py-3 d-flex justify-content-between position-fixed w-100 z-3">
  <div class="d-flex">
    <div style="border-right: 1px solid #ebebeb; padding-left: 0 !important;" class="d-flex align-items-center px-5">
      <i style="color: #58585a;" class="bi bi-house-fill fs-4"></i>
    </div>
    <div class="px-5">
      <app-logo />
    </div>
  </div>
  <div class="d-flex gap-4">
    <div style="width: 50px;height: 50px;border-radius: 50%; background-color: #ededed;" class="d-flex align-items-center justify-content-center">
      <i style="color: #58585a;"  class="bi bi-bell-fill fs-4"></i>
    </div>
    <div class="text-center">
      <img style="border-radius: 50%; object-fit: cover; object-position: top;" width="50" height="50" src="https://www.nube.com.br/media/noticias/2018/05/16/14527/funcionario-perfil-expectativa-lealdade-emprego_400x600.jpg" alt="">
    </div>
  </div>
</header>